.custom-navbar {
  background-color: #011c83; /* Custom background color */
}
.hero {
  background-image: url("./Assets/bg.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.content {
  background-color: #04457f;
  text-align: center;
  padding: 100px;
  border-radius: 30px;
}

.title {
  font-family: cursive;
  color: #ffffff;
  font-size: 20px;
}
.text {
  color: #ffffff;
  font-size: 15px;
}
.button {
  width: 135px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 20px;
  color: #04457f;
  border: none;
}
.hero {
  padding: 40px;
}
.aboutdiv {
  border-top: 1px solid #fff;
  background-color: #04457f;
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  align-items: center;
}
.abouttitle {
  color: #ffffff;
  font-size: 18px;
  font-family: cursive;
}
.abouttext {
  color: #ffffff;
  font-size: 12px;
}
.isiewu {
  background-color: #003b6f;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.isiewutitle {
  color: #ffffff;
  font-size: 20px;
  font-family: cursive;
}
.isiewutext {
  font-size: 16px;
  color: #ffffff;
  font-family: "Monda", sans-serif;
}
.isiewulearn {
  color: #36c05d;
}
.hr {
  border-bottom: 1px solid #ffffff33;
}
.location {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  
}
.locationmaindiv{
  background-color: #003B6F;
  padding: 1rem;
}
.locatitle{
  color: #FFFFFF;
  font-family: cursive;
  font-size: 18px;
}
.locatext{
  color: #FFFFFF;
  font-size: 16px;
}
.locationbtn{
  background-color: #FFFFFF;
  width: 190px;
  height: 35px;
  color: #003B6F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: none;
  border-radius: 5px;
}
.events{
  background-color: #003B6F;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.eventstitle{
  color: #FFFFFF;
  font-size: 18px;
}
.events-card{
 width: 310px;
 text-align: center;
}
.eventstextdiv{
  background-color: #04457F;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-text{
  color: #FFFFFF;
  font-size: 18px;
}
.bookevent{
  width: 270px;
  height: 45px;
  border: none;
  border-radius: 8px;
}